.App {
  position: absolute;
  width: 1920px;
  height: 1007px;
  left: 0px;
  top: 0px;
  background-color: darkblue;
}

/* Dashbosrd */

position: relative;
width: 1382px;
height: 785px;

background: #FFFFFF;


/* Dashboard */

position: absolute;
width: 1382px;
height: 785px;
left: 0px;
top: 0px;

background: #F2F2F2;


/* Rectangle */

position: absolute;
width: 1382px;
height: 785px;
left: 0px;
top: 0px;

/* Gray 4 */
background: #BDBDBD;


/* Profile-container */

position: absolute;
width: 297.34px;
height: 785px;
left: 1084.66px;
top: 0px;

background: #F2F2F2;


/* Profile-bar */

position: absolute;
left: -0.66%;
right: 0.66%;
top: 0.22%;
bottom: -0.22%;

background: #254655;


/* your-stats */

position: absolute;
left: 9.63%;
right: 9.63%;
top: 22.82%;
bottom: 31.33%;

background: #E0E0E0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle */

position: absolute;
left: 9.63%;
right: 9.63%;
top: 22.82%;
bottom: 31.33%;

/* Blue 2 */
background: #2D9CDB;


/* Number of Answers */

position: absolute;
left: 15.61%;
right: 20.6%;
top: 41.92%;
bottom: 53.6%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;

color: #2D9CDB;

/* Blue 2 */


/* Number of questions */

position: absolute;
left: 15.28%;
right: 12.62%;
top: 34.5%;
bottom: 60.92%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;

color: #2D9CDB;

/* Blue 2 */


/* Your Score */

position: absolute;
left: 14.62%;
right: 14.62%;
top: 25.11%;
bottom: 67.36%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
text-align: center;

color: #2D9CDB;

/* Blue 2 */


/* logout-btn */

position: absolute;
left: 12.62%;
right: 11.96%;
top: 93.23%;
bottom: 2.29%;

background: #E0E0E0;


/* Rectangle */

position: absolute;
left: 12.62%;
right: 11.96%;
top: 93.23%;
bottom: 2.29%;

background: #C4C4C4;


/* Log out */

position: absolute;
left: 12.62%;
right: 16.61%;
top: 93.23%;
bottom: 2.84%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 20px;
text-align: center;

color: #000000;



/* Login-details */

position: absolute;
left: 9.63%;
right: 9.63%;
top: 4.26%;
bottom: 87.97%;

background: #56CCF2;


/* Rectangle */

position: absolute;
left: 9.63%;
right: 9.63%;
top: 4.26%;
bottom: 87.97%;

background: #C4C4C4;


/* Ellipse */

position: absolute;
left: 71.1%;
right: 12.08%;
top: 5.01%;
bottom: 88.63%;

/* Gray 6 */
background: #F2F2F2;


/* Mohmdalfaha */

position: absolute;
left: 15.95%;
right: 31.48%;
top: 6.34%;
bottom: 88.41%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
text-align: center;

color: #FFFFFF;



/* List of polls */

position: absolute;
width: 616px;
height: 731px;
left: 198px;
top: 54px;

background: #F2F2F2;


/* Rectangle */

position: absolute;
left: 0%;
right: -11.85%;
top: -6.98%;
bottom: 0%;

background: #C4C4C4;
mix-blend-mode: overlay;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* fab */

position: absolute;
width: 56px;
height: 56px;
left: 623.43px;
top: 598px;



/* button bg */

position: absolute;
width: 56px;
height: 56px;
left: 623.43px;
top: 598px;

/* Blue 3 */
background: #56CCF2;
/* Yellow */
border: 0.5px solid #F2C94C;
box-sizing: border-box;
box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);


/* add */

position: absolute;
width: 20px;
height: 20px;
left: 640.43px;
top: 618px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* bounds */

position: absolute;
width: 15.48px;
height: 12px;
left: 642.37px;
top: 622px;



/* Shape */

position: absolute;
width: 20px;
height: 20px;
left: 640.43px;
top: 618px;

/* Gray 6 */
background: #F2F2F2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* polll container */

position: absolute;
left: 7.41%;
right: 2.36%;
top: 12.81%;
bottom: 62.11%;

background: rgba(120, 208, 228, 0.58);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);


/* Intersect */

position: absolute;
left: 7.41%;
right: 2.36%;
top: 12.81%;
bottom: 62.11%;

background: #333333;


/* app */

position: absolute;
left: 7.41%;
right: 2.36%;
top: 12.8%;
bottom: 62.11%;



/* app */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Rectangle */

position: absolute;
left: 7.34%;
right: 2.29%;
top: 12.81%;
bottom: 62.07%;

background: #C4C4C4;
border: 1px solid #56CCF2;
box-sizing: border-box;


/* Would You Rather ? */

position: absolute;
left: 48.6%;
right: 14.58%;
top: 17.51%;
bottom: 75.83%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
text-align: center;

color: #333333;



/* user-details */

position: absolute;
left: 7.57%;
right: 60.7%;
top: 12.8%;
bottom: 62.11%;

background: #F2F2F2;


/* Rectangle */

position: absolute;
left: 7.57%;
right: 60.7%;
top: 12.8%;
bottom: 62.11%;

/* Gray 6 */
background: #F2F2F2;
border: 2px solid #56CCF2;
box-sizing: border-box;


/* Mohmdalfaha */

position: absolute;
left: 14.54%;
right: 69.11%;
top: 33.58%;
bottom: 62.63%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 16px;

color: #F2F2F2;

/* Gray 6 */
border: 5px solid #56CCF2;
box-sizing: border-box;


/* avatar */

position: absolute;
left: 14.05%;
right: 68.63%;
top: 17.38%;
bottom: 69.16%;

/* Gray 6 */
background: #F2F2F2;
border: 2px solid #56CCF2;
box-sizing: border-box;


/* view-btn */

position: absolute;
left: 55.81%;
right: 21.92%;
top: 26.46%;
bottom: 66.68%;

background: #F2F2F2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 2 */

position: absolute;
left: 55.81%;
right: 21.92%;
top: 26.46%;
bottom: 66.68%;

background: #F2F2F2;
border: 2px solid #333333;
box-sizing: border-box;


/* View */

position: absolute;
left: 58.28%;
right: 24.5%;
top: 28.57%;
bottom: 68.33%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
text-align: center;

mix-blend-mode: darken;
border: 2px solid #333333;


/* polll container */

position: absolute;
left: 7.41%;
right: 2.36%;
top: 41.68%;
bottom: 33.24%;

background: rgba(120, 208, 228, 0.58);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);


/* Intersect */

position: absolute;
left: 7.41%;
right: 2.36%;
top: 41.68%;
bottom: 33.24%;

background: #333333;


/* app */

position: absolute;
left: 7.41%;
right: 2.36%;
top: 41.67%;
bottom: 33.24%;



/* app */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Rectangle */

position: absolute;
left: 7.34%;
right: 2.29%;
top: 41.68%;
bottom: 33.2%;

background: #C4C4C4;
border: 1px solid #56CCF2;
box-sizing: border-box;


/* Would You Rather ? */

position: absolute;
left: 48.6%;
right: 14.58%;
top: 46.37%;
bottom: 46.96%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
text-align: center;

color: #333333;



/* user-details */

position: absolute;
left: 7.57%;
right: 60.7%;
top: 41.67%;
bottom: 33.24%;

background: #F2F2F2;


/* Rectangle */

position: absolute;
left: 7.57%;
right: 60.7%;
top: 41.67%;
bottom: 33.24%;

/* Gray 6 */
background: #F2F2F2;
border: 2px solid #56CCF2;
box-sizing: border-box;


/* Mohmdalfaha */

position: absolute;
left: 14.54%;
right: 69.11%;
top: 62.45%;
bottom: 33.76%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 16px;

color: #F2F2F2;

/* Gray 6 */
border: 5px solid #56CCF2;
box-sizing: border-box;


/* avatar */

position: absolute;
left: 14.05%;
right: 68.63%;
top: 46.24%;
bottom: 40.3%;

/* Gray 6 */
background: #F2F2F2;
border: 2px solid #56CCF2;
box-sizing: border-box;


/* view-btn */

position: absolute;
left: 55.81%;
right: 21.92%;
top: 55.32%;
bottom: 37.82%;

background: #F2F2F2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 2 */

position: absolute;
left: 55.81%;
right: 21.92%;
top: 55.32%;
bottom: 37.82%;

background: #F2F2F2;
border: 2px solid #333333;
box-sizing: border-box;


/* View */

position: absolute;
left: 58.28%;
right: 24.5%;
top: 57.44%;
bottom: 39.47%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
text-align: center;

mix-blend-mode: darken;
border: 2px solid #333333;


/* polll container */

position: absolute;
left: 7.41%;
right: 2.36%;
top: 70.95%;
bottom: 3.97%;

background: rgba(120, 208, 228, 0.58);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);


/* Intersect */

position: absolute;
left: 7.41%;
right: 2.36%;
top: 70.95%;
bottom: 3.97%;

background: #333333;


/* app */

position: absolute;
left: 7.41%;
right: 2.36%;
top: 70.94%;
bottom: 3.97%;



/* app */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Rectangle */

position: absolute;
left: 7.34%;
right: 2.29%;
top: 70.95%;
bottom: 3.93%;

background: #C4C4C4;
border: 1px solid #56CCF2;
box-sizing: border-box;


/* Would You Rather ? */

position: absolute;
left: 48.6%;
right: 14.58%;
top: 75.65%;
bottom: 17.69%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
text-align: center;

color: #333333;



/* user-details */

position: absolute;
left: 7.57%;
right: 60.7%;
top: 70.94%;
bottom: 3.97%;

background: #F2F2F2;


/* Rectangle */

position: absolute;
left: 7.57%;
right: 60.7%;
top: 70.94%;
bottom: 3.97%;

/* Gray 6 */
background: #F2F2F2;
border: 2px solid #56CCF2;
box-sizing: border-box;


/* Mohmdalfaha */

position: absolute;
left: 14.54%;
right: 69.11%;
top: 91.72%;
bottom: 4.49%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 16px;

color: #F2F2F2;

/* Gray 6 */
border: 5px solid #56CCF2;
box-sizing: border-box;


/* avatar */

position: absolute;
left: 14.05%;
right: 68.63%;
top: 75.52%;
bottom: 11.02%;

/* Gray 6 */
background: #F2F2F2;
border: 2px solid #56CCF2;
box-sizing: border-box;


/* view-btn */

position: absolute;
left: 55.81%;
right: 21.92%;
top: 84.6%;
bottom: 8.54%;

background: #F2F2F2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 2 */

position: absolute;
left: 55.81%;
right: 21.92%;
top: 84.6%;
bottom: 8.54%;

background: #F2F2F2;
border: 2px solid #333333;
box-sizing: border-box;


/* View */

position: absolute;
left: 58.28%;
right: 24.5%;
top: 86.71%;
bottom: 10.19%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
text-align: center;

mix-blend-mode: darken;
border: 2px solid #333333;


/* header container */

position: absolute;
width: 60px;
height: 785px;
left: 0px;
top: 0px;

background: #F2F2F2;


/* header */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #30D4DF;
/* Gray 1 */
border: 1px solid #333333;
box-sizing: border-box;


/* Nav container */

position: absolute;
left: 1.02%;
right: 0.96%;
top: 0%;
bottom: 52.07%;

background: #F2F2F2;


/* nav */

position: absolute;
left: 1.02%;
right: 0.96%;
top: 0%;
bottom: 52.07%;

background: #FFAA66;
/* Gray 5 */
border: 1px solid #E0E0E0;
box-sizing: border-box;


/* LeaderBoard */

position: absolute;
left: 15.57%;
right: 20.18%;
top: 11.46%;
bottom: 80.13%;

backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */


/* bounds 2 */

position: absolute;
left: 15.57%;
right: 20.18%;
top: 11.46%;
bottom: 80.13%;



/* Fill 8 */

position: absolute;
left: 18.25%;
right: 20.53%;
top: 13.22%;
bottom: 83.6%;

background: #000000;
mix-blend-mode: normal;
opacity: 0.54;


/* Path */

position: absolute;
left: 18.25%;
right: 42.79%;
top: 15.04%;
bottom: 83.6%;

background: #EEEEEE;


/* Path */

position: absolute;
left: 57.31%;
right: 20.53%;
top: 15.04%;
bottom: 83.6%;

background: #EEEEEE;


/* Path */

position: absolute;
left: 29.38%;
right: 53.94%;
top: 13.22%;
bottom: 85.42%;

background: #EEEEEE;


/* Path */

position: absolute;
left: 51.65%;
right: 31.68%;
top: 13.22%;
bottom: 85.42%;

background: #EEEEEE;


/* Home */

position: absolute;
left: 18.49%;
right: 18.87%;
top: 1.53%;
bottom: 90.7%;



/* Shape */

position: absolute;
left: 19.9%;
right: 18.87%;
top: 4.86%;
bottom: 91.95%;

background: #56CCF2;
mix-blend-mode: normal;
opacity: 0.54;


/* Path */

position: absolute;
left: 19.9%;
right: 64.79%;
top: 4.86%;
bottom: 94.34%;

background: #EEEEEE;


/* Path */

position: absolute;
left: 42.86%;
right: 41.83%;
top: 7.25%;
bottom: 91.95%;

background: #EEEEEE;


/* Path */

position: absolute;
left: 19.9%;
right: 64.79%;
top: 7.25%;
bottom: 91.95%;

background: #EEEEEE;


/* Path */

position: absolute;
left: 19.9%;
right: 64.79%;
top: 6.06%;
bottom: 93.15%;

background: #EEEEEE;


/* Path */

position: absolute;
left: 42.86%;
right: 41.83%;
top: 6.06%;
bottom: 93.15%;

background: #EEEEEE;


/* Path */

position: absolute;
left: 65.82%;
right: 18.87%;
top: 4.86%;
bottom: 94.34%;

background: #EEEEEE;


/* Path */

position: absolute;
left: 42.86%;
right: 41.83%;
top: 4.86%;
bottom: 94.34%;

background: #EEEEEE;


/* Path */

position: absolute;
left: 65.82%;
right: 18.87%;
top: 6.06%;
bottom: 93.15%;

background: #EEEEEE;


/* Path */

position: absolute;
left: 65.82%;
right: 18.87%;
top: 7.25%;
bottom: 91.95%;

background: #EEEEEE;


/* bounds */

position: absolute;
left: 18.49%;
right: 24.08%;
top: 1.53%;
bottom: 90.7%;



/* polls toggle */

position: absolute;
width: 337px;
height: 39px;
left: 332px;
top: 10.24px;

background: #F2F2F2;
transform: rotate(-0.21deg);


/* Rectangle */

position: absolute;
width: 337px;
height: 39px;
left: 332px;
top: 10.24px;

background: #C4C4C4;
transform: rotate(-0.21deg);


/* Unanswered */

position: absolute;
width: 101px;
height: 39px;
left: 562px;
top: 9.39px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
text-align: center;

color: #2D9CDB;

transform: rotate(-0.21deg);


/* Line */

position: absolute;
width: 36.74px;
height: 0px;
left: 546px;
top: 10.58px;

border: 1px solid #000000;
transform: rotate(89.79deg);


/* Answered */

position: absolute;
width: 101px;
height: 39px;
left: 443px;
top: 9.83px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
text-align: center;

color: #2D9CDB;

transform: rotate(-0.21deg);


/* Line */

position: absolute;
width: 36.74px;
height: 0px;
left: 433px;
top: 11px;

border: 1px solid #000000;
transform: rotate(89.79deg);


/* Both */

position: absolute;
width: 101px;
height: 39px;
left: 332px;
top: 10.24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;
text-align: center;

color: #219653;

transform: rotate(-0.21deg);
